{% macro link_item(link, show_user=True, current_user=None) %}
<div class="bookmark">
    {# Determine if the link should use the redirect route #}
    {% if current_user.is_authenticated and 
        current_user.mark_toread_as_read_on_click and 
        link.read_later %}
        <a class="bookmark-title read-later" href="{{ url_for('read_redirect', link_id=link.id) }}"
        {% if current_user.open_links_in_new_window %}target="_blank" rel="noopener noreferrer"{% endif %}>
        {{ link.title }}
    </a>
    {% else %}
    <a class="bookmark-title {% if link.read_later %}read-later{% endif %}" href="{{ link.url }}"
    {% if current_user and current_user.open_links_in_new_window %}target="_blank" rel="noopener noreferrer"{% endif %}>
    {{ link.title }}
</a>
{% endif %}

{# Display URL under title if preference is enabled #}
{% if current_user.is_authenticated and current_user.display_url_under_title %}
<a href="{{ link.url }}"><div class="bookmark-url">{{ link.url }}</div></a>
{% endif %}

{# Description #}
{% if link.description %}
<div class="description">
    {{ link.description }}
</div>
{% endif %}

{# Tags #}
{% if link.tags %}
<div class="tags">
    {% set tags = link.tags %}
    {% if current_user.is_authenticated and current_user.always_show_tags_alphabetical %}
    {% set tags = tags | sort(attribute='name') %}
    {% endif %}
    {% for tag in tags %}
    {% if not tag.name.startswith('.') or (current_user and current_user.is_authenticated and link.user_id == current_user.id) %}
    <a class="tag {% if tag.name.startswith('.') %}private-tag{% endif %}" 
    href="{{ url_for('tag_links', tag_name=tag.name) }}">{{ tag.name }}</a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{# Timestamp #}
{% if current_user.is_authenticated and current_user.show_exact_datetime_on_bookmarks %}
<span class="saved-on when">{{ link.created_at | format_datetime(current_user.timezone) }}</span>
{% else %}
<span class="saved-on when">{{ link.created_at | format_relative_time }}</span>
{% endif %}

{# User Info #}
{% if show_user and link.user %}
by <a href="{{ url_for('user_links', username=link.user.username) }}">{{ link.user.username }}</a>
{% endif %}

{# Manipulate Links #}
<span class="manipulate">
    {% if link.extract %}
    <a class="action-link extract" href="{{ url_for('view_extract', link_id=link.id) }}">Extract</a>
    {% endif %}
    {% if current_user and current_user.is_authenticated and link.user_id == current_user.id %}
    <a class="action-link edit" href="{{ url_for('edit_link', link_id=link.id) }}">Edit</a>
    <form action="{{ url_for('delete_link', link_id=link.id) }}" method="post" class="delete-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="action-link delete-link">Delete</button>
    </form>
    {% if link.read_later %}
    <a class="action-link" href="{{ url_for('mark_as_read', link_id=link.id) }}">Mark as Read</a>
    {% endif %}
    {% endif %}
    {% if current_user and current_user.is_authenticated and current_user.id != link.user_id %}
    <a class="action-link copy-link" href="{{ url_for('submit_link', url=link.url, title=link.title, tags=link.tags | map(attribute='name') | join(' ') ) }}" 
    onclick="return confirm('Do you want to copy this link to your collection?');">
    Copy to mine
</a>
{% endif %}
</span>
</div>
{% endmacro %}